#mapId {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#control-container {
  position: fixed;
  left: 10px;
  bottom: 10px;
  top: 80px;
  width: 260px;
}

#control-header {
  position: absolute;
  top: 0;
  width:100%;
  height: 20px;
}

#controls {
  position: absolute;
  bottom: 0px;
  background-color: white;
  border: 2px solid #cccccc;
  background-clip: padding-box;
  border-radius: 4px;
  margin-top: 20px;
  max-height: 100%;
  width:100%;
  overflow-y:auto;
}

#where {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 10;
}

#where > a {
  background-color: white;
  border: 2px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
}

wai-panel {
  position: fixed;
  left: 30px;
  bottom: 30px;
}

wai-day-summary {
  z-index: 90;
  position: fixed;
  top: 10px;
  left: 50px;
}

.mouseposition {
  font-weight: bold;
  font-size: 110%;
  margin: -5px;
}

.leaflet-bottom {
  margin-bottom: -7px;
}