#mapId {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#controls {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 260px;
  background-color: white;
  border: 2px solid #cccccc;
  background-clip: padding-box;
  border-radius: 4px;
}

wai-panel {
  padding: 20px;
  position: fixed;
  left: 30px;
  bottom: 30px;
  background-color: white;
  border: 2px solid #cccccc;
  background-clip: padding-box;
  border-radius: 6px;
  box-shadow: 6px 6px 6px #888888;
}
